{% extends "_layoutQuiz" %}

{% block content %}
    <a onclick="history.back()">
      <svg
        class="back"
        xmlns="http://www.w3.org/2000/svg"
        width="35"
        height="35"
        viewBox="0 0 24 24"
      >
        <path
          fill="#00263d"
          d="M19 11H7.83l4.88-4.88c.39-.39.39-1.03 0-1.42a.996.996 0 0 0-1.41 0l-6.59 6.59a.996.996 0 0 0 0 1.41l6.59 6.59a.996.996 0 1 0 1.41-1.41L7.83 13H19c.55 0 1-.45 1-1s-.45-1-1-1"
        />
      </svg>
    </a>
    <img class="cover" src="images/maaltijden_school.jpeg" alt="" />

    <div class="feedback-container hidden" id="feedbackContainer">
      <div class="feedback correct">
        <h2 class="feedback-text">Correct <span>&#10003;</span></h2>
        <p class="feedback-text">
          Goed gedaan, u duidde het juiste antwoord aan!
        </p>
      </div>
      <div class="article-content">
        <p>
          Bart De Wever, voorzitter van N-VA, bekritiseerde het voorstel van
          Vooruit voor gratis warme schoolmaaltijden. Hij beschouwt het als te
          duur en niet gericht genoeg op de juiste doelgroep.
          <br /><br />
          Volgens hem zou het voorstel slechts een zeer klein deel
          van de schoolbevolking helpen, terwijl het de overheid miljarden zou
          kosten. 
          <br /><br />
          “Onze scholen zijn daar simpelweg niet op ingericht," verklaarde
          hij. Hij benadrukte dat scholen primair onderwijsinstellingen zijn en
          geen restaurants moeten worden. Hij pleitte ervoor om gratis
          maaltijden specifiek te richten op kinderen in armoede, in plaats van
          een algemene aanpak voor alle leerlingen. <br /><br />De Wever
          suggereerde dat gerichte steun, zoals een gezonde soep en een bruine
          boterham voor kinderen in kansarmoede, effectiever zou zijn dan het
          aanbieden van warme maaltijden aan alle leerlingen, ongeacht hun
          achtergrond.
        </p>
      </div>
      <div class="gerelateerde-artikelen">
      <h3 class="gerelateerde-artikelen-h3">Gerelateerde artikels</h3>
      <div class="artikels">
      <a href="#">
        <div class="artikel">
          <img
            class="artikel-image"
            src="images/duurzame_energie_1.png"
            alt="oxfam"
          />
          <div class="artikel-text">
            <h2 class="artikel-h2">Grote investeringen in duurzame energie</h2>
            <p class="artikel-p">
              België staat in top 10 van landen met meeste CO2-uitstoot, maar
              het hangt ervan af wat je exact berekent
            </p>
          </div>
          <img class="like" src="images/unlike.png" alt="like" />
        </div>
      </a>

      <a href="#">
        <div class="artikel">
          <img class="artikel-image" src="images/begroting.jpg" alt="oxfam" />
          <div class="artikel-text">
            <h2 class="artikel-h2">Grote investeringen in duurzame energie</h2>
            <p class="artikel-p">
              België staat in top 10 van landen met meeste CO2-uitstoot, maar
              het hangt ervan af wat je exact berekent
            </p>
          </div>
          <img class="like" src="images/unlike.png" alt="like" />
        </div>
      </a>
    </div>
      </div>
    </div>

    <script>
      document.querySelectorAll(".option").forEach((option) => {
        option.addEventListener("click", function () {
          console.log("Option clicked");

          // Hide the option container
          document.getElementById("optionContainer").classList.add("hidden");
          console.log("Option container hidden");

          // Show the feedback container
          document
            .getElementById("feedbackContainer")
            .classList.remove("hidden");
          console.log("Feedback container shown");
        });
      });
    </script>
 {% endblock  %}
