{% extends "_layoutindex" %}

{% block content %}
 {% set entries = craft.entries().section('logo') %}
    {% for entry in entries %}
    <img id="startscherm_logo" src="{{entry.logo.one() ? entry.logo.one().url : '/path/to/default-image.jpg'}}" alt="logo" />
    <a class="button_1 button" href="inloggen.twig">Inloggen</a>
    <a class="button_2 button" href="registreren.twig">Registreren</a>

   {% endfor %}
{% endblock  %}
