{% extends "_layoutInstellingen" %}

{% block content %}
 
    <h1>Instellingen</h1>
    <div class="flexbox">
      <a class="instelling" href="instellingen_meldingen.twig">Meldingen</a>
      <a class="instelling" href="instellingen_help.twig">Help</a>
      <a class="instelling" href="instellingen_profiel_verwijderen.twig"
        >Profiel verwijderen</a
      >
      <a class="instelling" href="instellingen_afmelden.twig">Afmelden</a>
    </div>
 {% endblock  %}
