{% extends "_layoutWachtwoordVergeten" %}

{% block content %}
    <a onclick="history.back()">
      <svg
        class="back"
        xmlns="http://www.w3.org/2000/svg"
        width="35"
        height="35"
        viewBox="0 0 24 24"
      >
        <path
          fill="#00263d"
          d="M19 11H7.83l4.88-4.88c.39-.39.39-1.03 0-1.42a.996.996 0 0 0-1.41 0l-6.59 6.59a.996.996 0 0 0 0 1.41l6.59 6.59a.996.996 0 1 0 1.41-1.41L7.83 13H19c.55 0 1-.45 1-1s-.45-1-1-1"
        />
      </svg>
    </a>
    <h1>Wachtwoord vergeten</h1>
    <div class="email input">
      <span>Email</span>
      <input type="email" placeholder="Email" />
    </div>
    <a class="button_4 button" href="wachtwoord_vergeten_2.twig"
      >Verzend email</a
    >
       {% set entries = craft.entries().section('patroon') %}
    {% for entry in entries %}
  
    <img class="patroon" src="{{entry.patroon.one() ? entry.patroon.one().url : '/path/to/default-image.jpg'}}" alt="Patroon" />
   {% endfor %}
    {% endblock  %}
