.email {
  margin-top: 190px;
}
.wachtwoord {
  margin-top: 20px;
}

#ww_vergeten {
  text-align: end;
  margin-right: 10%;
  margin-top: 10px;
}
#ww_vergeten a {
  text-decoration: none;
  color: #00263d 1px solid;
}
.button_3 {
  background-color: #cbb391;
  margin-top: 40px;
}
.lijn {
  display: block;
  border-bottom: #00263d 1px solid;
  position: relative;
  margin: 40px 5%;
}
#facebook {
  width: 50px;
  margin-left: 35%;
}
#google {
  width: 50px;
  margin-left: 5%;
}
.geen_acc {
  display: block;
  text-align: center;
  margin: 40px 5%;
}
.geen_acc a {
  text-decoration: none;
  font-weight: bold;
}


.back{
  margin-right: 20px;
  margin-top: -120px;
}