.nieuw_wachtwoord {
  /* position: relative;
  top: 200px; */
  margin-top: 180px;
}
.herhaal_wachtwoord {
  /* position: relative;
  top: 210px; */
  margin-top: 20px;
}
.button_5 {
  background-color: #cbb391;
  margin-top: 40px;
}

.back{
  margin-right: 20px;
  margin-top: -120px;
}
